<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tags</title>
    <link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}" />
    </noscript>

    <style>
        .table-wrapper {
            width: 100%;
            overflow-x: auto;
        }

        table {
            width: 100%;
        }

        /* 첫 번째 컬럼 너비 설정 */
        th:nth-child(1), td:nth-child(1) {
            width: 80%;
        }

        /* 두 번째 컬럼 너비와 정렬 설정 */
        th:nth-child(2), td:nth-child(2) {
            width: 20%;
            text-align: right;
        }
    </style>

</head>
<body class="is-preload">
<div id="page-wrapper">
    <header th:replace="fragments/header :: header"></header>
    <nav th:replace="fragments/header :: menu"></nav>

    <section id="wrapper">
        <header>
            <div class="inner">
                <h2>공지사항 목록</h2>
                <p></p>
            </div>
        </header>

        <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                <section>
                    <h3 class="major">공지사항 : </h3>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>제목</th>
                                <th>등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="notice : ${notices}">
                                <td>
                                    <span th:text=" '[' + ${notice.noticesCategory.name} + '] ' + ${notice.title} "></span>
                                </td>
                                <td>
                                    <span th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        <ul class="pagination" th:if="${notices.totalPages > 1}">
                            <li th:if="${notices.hasPrevious}">
                                <a th:href="@{/notices/list(page=0)}" class="button small">First</a>
                            </li>
                            <li th:if="${notices.hasPrevious}">
                                <a th:href="@{/notices/list(page=${notices.number - 1})}" class="button small">Prev</a>
                            </li>

                            <li th:each="pageNumber : ${#numbers.sequence(0, notices.totalPages - 1)}">

                                <a th:if="${pageNumber >= notices.number - 4 and pageNumber <= notices.number + 4}"
                                   th:classappend="${pageNumber == notices.number} ? 'page active' : 'page'"
                                   th:href="@{/notices/list(page=${pageNumber})}"
                                   th:text="${pageNumber + 1}"></a>
                            </li>

                            <li th:if="${notices.hasNext}">
                                <a th:href="@{/notices/list(page=${notices.number + 1})}" class="button small">Next</a>
                            </li>
                            <li th:if="${notices.hasNext}">
                                <a th:href="@{/notices/list(page=${notices.totalPages - 1})}" class="button small">Last</a>
                            </li>
                        </ul>


                    </div>
                </section>
            </div>
        </div>
    </section>
</div>

<section th:replace="fragments/footer :: footer"></section>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>